<div class="row">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">What's in the Box?</h1>
      <p class="lead"><%= link_to 'Subscribe', sign_up_path, class: 'btn btn-lg btn-primary' %> to find out!</p>
    </div>
  </div>
</div>
