<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><center>Stripe Landing Page</center></h1>
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptates aperiam, adipisci ab rem, rerum ad veritatis accusamus quae eum doloremque harum inventore aliquam amet quas esse nemo ipsum, laudantium.</span>
        <span>Quisquam facere, corrupti id! Veniam officiis tempora officia sint magnam excepturi, assumenda doloribus modi praesentium nihil non eum, rem aut, facere eveniet hic! Nulla dignissimos nobis eveniet ducimus quo necessitatibus.</span>
        <span>Voluptas eaque molestias quis optio, officia sint molestiae corporis magnam dolore expedita quas dolorum, inventore aperiam, nihil deleniti asperiores officiis sapiente ab quisquam? Eos, eius vitae quis voluptas aperiam asperiores!</span>
      </p>
    </div>
  </div>
</div>
